PORT=3000
DB_DIALECT=sqlite
DB_STORAGE=./dev.sqlite3
SQL_LOGGING=false
JWT_ACCESS_SECRET=REPLACE_ME
JWT_REFRESH_SECRET=REPLACE_ME
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=7d
SESSION_SECRET=REPLACE_ME
NODE_ENV=development
